---
layout: archive
---

{{ content }}

<div id="main" role="main" style="margin-top: 40px; padding-bottom: 0px; padding-right: 0;padding-left: 0;"> 

    <div class = "projects" style="margin-top: 0px;"> 
            <h1 id = "page-title" class = "page__title" >Core Team</h1>
    </div>

<div class="entries-{{ page.entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>

</div>

<hr style="height:1px;border-width:0;color:#fcd5ce;background-color:#fcd5ce">

<div id="main" role="main" style="margin-top: 40px; padding-bottom: 0px; padding-right: 0;padding-left: 0;"> 
	<div class = "projects" style="margin-top: 0px;"> 
            <h1 id = "page-title" class = "page__title" >Extended Team (Animatic)</h1>
	</div>
</div>

<div>
<p>
<a href="https://www.instagram.com/art_polobhingare/" target="_blank"><b>Shubhankar Bhingare</b></a> : Concept Art and 360° Storyboarding<br>
<a href="https://in.linkedin.com/in/raobott" target="_blank"><b>Ravi Rao</b></a> : Animation Consultant <br>
<a href="https://in.linkedin.com/in/tanmaykashyap" target="_blank"><b>Tanmay Kashyap</b></a> : Animatic - Reference Music <br>
<a href="https://in.linkedin.com/in/shivam-kumar-5880a6198" target="_blank"><b>Shivam Kumar</b></a> : Animatic - Intern Student <br>
<a href="https://in.linkedin.com/in/shivam-kumar-5880a6198" target="_blank"><b>Dr. Mukund Oke</b></a> : Animatic - Opening Music <br>
</p>
</div>

