---
layout: archive
---

{{ content }}

<div id="main" role="main" style="margin-top: 20px; padding-bottom: 0px; padding-right: 0;padding-left: 0;"> 
<h1 id = "page-title" class = "page__title" >Core Team</h1>

<div class="entries-{{ page.entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>

</div>

<hr style="height:1px;border-width:0;color:#fcd5ce;background-color:#fcd5ce">

<div id="main" role="main" style="margin-top: 0px; padding-bottom: 0px; padding-right: 20px;padding-left: 0; display: inline-block; vertical-align : top;"> 
<h1 id = "page-title" class = "page__title" >Art Team</h1>
<p>
<a href="https://www.instagram.com/art_polobhingare/" target="_blank"><b>Shubhankar Bhingare</b></a> : Concept Artist<br>    

<a href="https://www.deckor.co/" target="_blank"><b>Yaman Upadhyay</b></a> : Modeling Supervisor<br>

<a href="https://www.deckor.co/" target="_blank"><b>Rhythm Aggarwal</b></a> : Modeling Artist<br>

<a href="https://www.deckor.co/" target="_blank"><b>Jatin Kashyap</b></a> : Modeling Artist <br>

<a href="https://www.deckor.co/" target="_blank"><b>Ravi Sah</b></a> : Modeling Artist<br>

<a href="https://www.deckor.co/" target="_blank"><b>Ravi Saini</b></a> : Texture Artist<br>

<a href="https://www.deckor.co/" target="_blank"><b>Deepak Singh</b></a> : Texture artist<br>

<a href="https://www.deckor.co/" target="_blank"><b>Siddharth Vajpai</b></a> : Texture artist<br>

<a href="https://www.deckor.co/" target="_blank"><b>Neilmani Sharma</b></a> : CG Supervisor<br>

<a href="https://www.deckor.co/" target="_blank"><b>Henna Chawla</b></a> : Manager<br>

</p>
</div>

<div id="main" role="main" style="margin-top: 0px; padding-bottom: 0px; padding-right: 20px;padding-left: 0; display: inline-block; vertical-align : top;"> 
<h1 id = "page-title" class = "page__title" >Animation Team</h1>

<p>
<a href="https://in.linkedin.com/in/moumita-das-b2114784" target="_blank"><b>Moumita Das</b></a> : Animation & Mocap Cleanup<br>    

<a href="https://in.linkedin.com/in/ujas-goswami-69859012a" target="_blank"><b>Ujas Goswami</b></a> : Animation Consultant<br>

<a href="https://in.linkedin.com/in/raobott" target="_blank"><b>Ravi Rao</b></a> : Animation Consultant<br>

</p>

<h1 id = "page-title" class = "page__title" style="margin-top: 40px;">Music Team</h1>
<p>
<a href="https://www.linkedin.com/in/bimal-thankachan-7454039b" target="_blank"><b>Bimal Thankachan</b></a> : Original sound Track & Theme Song<br>    

<a href="https://in.linkedin.com/in/tanmaykashyap" target="_blank"><b>Tanmay Kashyap</b></a> : Teaser Rap Song<br>

</p>
</div>


<hr style="height:1px;border-width:0;color:#fcd5ce;background-color:#fcd5ce">

<div id="main" role="main" style="margin-top: 20px; padding-bottom: 0px; padding-right: 0;padding-left: 0;"> 
<h1 id = "page-title" class = "page__title" >Pre-Production Team</h1>

<p>

<a href="https://in.linkedin.com/in/anish-sebastian-a16529172/" target="_blank"><b>Anish Sebastian</b></a> : Character Animator (Animatic)<br>

<a href="https://www.linkedin.com/in/arun-babu-a55a1b124/" target="_blank"><b>Arun Babu</b></a> : 3D Space Designer<br>

<a href="https://www.linkedin.com/in/piyush-priyadarshi-42625819/" target="_blank"><b>Piyush Priyadarshi</b></a> : Production Consultant<br>

<a href="https://www.linkedin.com/in/yogini-oke-05845abb/" target="_blank"><b>Yogini Mukund Oke</b></a> : Story Consultant<br>

<a href="https://in.linkedin.com/in/shivam-kumar-5880a6198" target="_blank"><b>Shivam Kumar</b></a> : Intern Student<br>

<a href="https://in.linkedin.com/in/shivam-kumar-5880a6198" target="_blank"><b>Dr. Mukund Oke</b></a> : Opening Music<br>

</p>
</div>

