---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>

    {% include head.html %}
    {% include head/custom.html %}

  </head>

  <body>


      <a-scene loading-screen="dotsColor: black; backgroundColor: #665252;"  embedded style="margin:0px; padding:0px;" vr-mode-ui="enterVRButton: #myEnterVRButton; enterARButton: #myEnterARButton">
        <a id="myEnterVRButton" href="#">
          <div id="VRButton">
            <i class="fas fa-expand"></i>
            <i class="fas fa-vr-cardboard"></i>
          </div>
        </a>
        <a id="myEnterARButton" href="#"></a>
        <a-assets>
          <!-- Images. -->
          <img id="city" src="{{ site.baseurl }}/assets/img/360/360_manhole.jpg">
          
        </a-assets>
      
        <!-- 360-degree image. -->
        <a-entity rotation="0 -90 0">
        <a-sky id="image-360" radius="100" src="#city"></a-sky>
       </a-entity>
      
      </a-scene>
      
      <div class = "vr_overlay">  
      <img src="/assets/img/360/360_icon.png">
      </div>
          
      </div>

  </body>



</html>




